<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div class="container my-5">
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Poke-Collect</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Search for a pokemon to add to your collection.</p>
        {% if current_user.is_authenticated %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="{{ url_for('main.search') }}">Search</a>
          {% else %}
          <a href="{{ url_for('auth.login') }}" class="btn btn-outline-light btn-lg px-4">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="{{ url_for('auth.login' ) }}" role="button">Search</a> -->

{% endblock content%}